.seat-selection {
    border-radius: 16px;
    background-color: #f3f3f3;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 20%;
}
.seat0{
    grid-column: 1;
    grid-row: 1/2;
}
.seat1{
    grid-column: 1;
    grid-row: 2/3;
}
.seat2{
    grid-column: 1;
    grid-row: 3/4;
}
.seat3{
    grid-column: 1;
    grid-row: 4/4;
}
.seat {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    margin-top: 25px;
    grid-column: 1 / 4;
}

.seat.selected {
    /* background-color: rgb(39, 174, 96); */
    /* color: white; */
}

@media all {
    .oKU4K {
        text-align: right;
    }

    .-Vcje {
        display: inline-block;
        fill: hsl(0, 0%, 60%);
        padding: 8px;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
    }

    ._255P_ {
        display: inline-block;
        fill: hsl(0, 0%, 60%);
        padding: 8px;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        border-left: 1px solid hsl(0, 0%, 90%);
    }

    .zS0k1 {
        background: #fdf2d1;
    }

    ._1ePdA {
        font-weight: 700;
        color: hsl(0, 0%, 30%);
    }

    .R8zaM:after {
        background-color: hsl(0, 0%, 60%);
    }

    .R8zaM:after {
        content: '';
        height: 1px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transform: translateY(1px);
        transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-property: opacity, transform;
        width: 100%;
    }

    .R8zaM:focus {
        outline: none;
    }

    ._2Pk9X:after {
        background-color: hsl(0, 0%, 30%);
    }

    ._2Pk9X:after {
        content: '';
        height: 1px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transform: translateY(1px);
        transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-property: opacity, transform;
        width: 100%;
    }

    ._2Pk9X:focus {
        outline: none;
    }

    ._25ygu {
        line-height: 1.3;
    }

    ._2WWZB {
        max-height: 40px;
        max-width: 100%;
    }

    ._2Pk9X {
        font-family: arial;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: underline;
        color: hsl(0, 0%, 70%);
        cursor: pointer;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: hsl(0, 0%, 30%);
        font-size: 20px;
        vertical-align: bottom;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ._2Pk9X:hover {
        text-decoration: none;
    }

    ._2Pk9X:hover:after,
    ._2Pk9X:focus:after {
        opacity: 1;
        transition-delay: 0.2s;
        transition-duration: 0.15s;
        transform: translateY(-3px) translateZ(0);
    }

    .JHf2a {
        color: hsl(0, 0%, 60%);
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        max-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .R8zaM {
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: underline;
        color: hsl(0, 0%, 70%);
        cursor: pointer;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: hsl(0, 0%, 60%);
        font-weight: 500;
    }

    .R8zaM:hover {
        text-decoration: none;
    }

    .R8zaM:hover:after,
    .R8zaM:focus:after {
        opacity: 1;
        transition-delay: 0.2s;
        transition-duration: 0.15s;
        transform: translateY(-3px) translateZ(0);
    }

    @media (max-width: 639px) {
        .JHf2a {
            margin-bottom: 16px;
        }
    }

    ._3tfm8.lpgPF:hover,
    ._3tfm8.lpgPF:focus {
        color: hsl(0, 0%, 100%);
        background-color: hsl(87, 58%, 45%);
        border-color: hsl(87, 58%, 45%);
    }

    ._3tfm8.lpgPF {
        color: hsl(87, 58%, 45%);
        border-color: hsl(87, 58%, 45%);
    }

    ._3tfm8 {
        display: inline-block;
        border: 1px solid hsl(0, 0%, 80%);
        background-color: transparent;
        -webkit-font-smoothing: antialiased;
        color: hsl(0, 0%, 70%);
        text-align: center;
        cursor: pointer;
        margin: 1px 4px 0;
        line-height: 1.5;
        padding: 7px 12px;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        border-radius: 2px;
    }

    ._3tfm8:hover,
    ._3tfm8:focus {
        border-color: hsl(0, 0%, 70%);
    }

    .wrc8W {
        height: 40px;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }

    ._3AccQ {
        width: 100%;
    }

    .-DeRq {
        line-height: 28px;
        color: hsl(0, 0%, 30%);
        font-size: 30px;
        font-weight: 700;
    }

    ._1I1Wt {
        line-height: 20px;
        font-size: 12px;
        padding-right: 8px;
    }

    ._3yoIm {
        display: inline-block;
        margin: 0 4px 0 0;
        vertical-align: middle;
        color: rgb(254, 196, 45);
    }

    ._3yoIm svg {
        width: 14px;
        height: 14px;
        margin-bottom: 3px;
    }

    ._2jw0T {
        position: relative;
    }

    ._3QV9M {
        line-height: 20px;
        color: hsl(0, 0%, 60%);
        font-size: 12px;
    }

    ._248WO:after {
        background-color: hsl(0, 0%, 60%);
    }

    ._248WO:after {
        content: '';
        height: 1px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transform: translateY(1px);
        transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-property: opacity, transform;
        width: 100%;
    }

    ._248WO:focus {
        outline: none;
    }

    ._343Ow {
        color: hsl(0, 0%, 60%);
        font-size: 12px;
    }

    ._3Q47d {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 4px;
    }

    ._3OY-2 {
        white-space: nowrap;
        display: -ms-flexbox;
        display: flex;
    }

    ._248WO {
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: underline;
        color: hsl(0, 0%, 70%);
        cursor: pointer;
        position: relative;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: hsl(0, 0%, 60%);
    }

    ._248WO:hover {
        text-decoration: none;
    }

    ._248WO:hover:after,
    ._248WO:focus:after {
        opacity: 1;
        transition-delay: 0.2s;
        transition-duration: 0.15s;
        transform: translateY(-3px) translateZ(0);
    }

    ._1jcKT {
        margin-top: 8px;
    }

    @media (min-width: 640px) {
        ._1jcKT {
            display: none;
        }
    }

    .icon {
        margin-left: 45px;
    }

    .GeySM {
        line-height: 20px;
        color: hsl(0, 0%, 60%);
        font-size: 15px;
    }

    ._2g_QW,
    ._3TIJT {
        display: inline-block;
    }

    ._3ePxY {
        font-family: Sans serif;
        height: 40px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 4px 0 0;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        text-decoration: none;
        padding: 7px 16px;
        color: hsl(0, 0%, 40%);
        font-size: 16px;
    }

    ._3ePxY:hover,
    ._3ePxY:focus {
        color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        background-color: hsl(0, 0%, 80%);
    }

    .nrkj-:after {
        background-color: hsl(0, 0%, 60%);
    }

    .nrkj-:after {
        content: '';
        height: 1px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transform: translateY(1px);
        transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-property: opacity, transform;
        width: 100%;
    }

    .nrkj-:focus {
        outline: none;
    }

    ._2D2lC {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .GBZ1M {
        display: inline-block;
    }

    ._2xqFO {
        display: block;
    }

    .nrkj- {
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: underline;
        color: hsl(0, 0%, 70%);
        cursor: pointer;
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .nrkj-:hover {
        text-decoration: none;
    }

    .nrkj-:hover:after,
    .nrkj-:focus:after {
        opacity: 1;
        transition-delay: 0.2s;
        transition-duration: 0.15s;
        transform: translateY(-3px) translateZ(0);
    }

    .Jhd4X,
    .XvxbR,
    ._2bSMY,
    ._31alT {
        display: -ms-flexbox;
        display: flex;
    }

    .Jhd4X,
    .XvxbR {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .XvxbR,
    ._2bSMY {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    ._2bSMY {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    ._1VJk4 {
        padding-top: 16px;
        display: none;
    }

    ._4zAGT {
        display: none;
    }

    @media (max-width: 639px) {
        ._2xqFO {
            display: none;
        }

        ._3PpSK {
            display: block;
            padding-top: 2px;
        }

        ._1VJk4 {
            border-top: 1px solid hsl(0, 0%, 95%);
            padding-top: 16px;
            margin-top: 16px;
        }

        ._4zAGT {
            display: block;
            padding-bottom: 10px;
        }
    }

    @media (min-width: 640px) {
        .U157g .Jhd4X {
            display: none;
        }

        .U157g ._1VJk4 {
            display: block;
        }

        ._3PpSK {
            display: none;
        }
    }

    ._2_3rp {
        position: relative;
        background: hsl(0, 0%, 80%);
        background-size: 900%;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        padding-top: 50.847457627118644%
    }

    ._2_3rp::before {
        content: '';
        transform: translate3d(0, 0, 0);
        background: linear-gradient(to left, hsl(0, 0%, 80%), hsl(0, 0%, 90%));
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    ._3XNMI {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: block;
    }

    ._3XNMI:hover ._2d6mL,
    ._3XNMI:focus ._2d6mL {
        background: hsla(0, 0%, 20%, .6);
    }

    ._3XNMI:hover ._2d6mL:hover,
    ._3XNMI:focus ._2d6mL:focus {
        background: hsl(0, 0%, 20%);
    }

    ._1xvs1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 0.5s;
        transition-property: left;
        z-index: 1;
    }

    ._2d6mL {
        width: 38px;
        height: 56px;
        position: absolute;
        z-index: 1;
        top: calc(50% - 28px);
        padding: 13px;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        transition: 0.4s;
        outline-color: hsl(0, 0%, 100%);
    }

    ._3GbfI {
        left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="2" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(26,26,26,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
        filter: drop-shadow(0px 0px 2px hsl(0, 0%, 10%));
    }

    ._14f75 {
        right: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="2" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(26,26,26,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
        filter: drop-shadow(0px 0px 2px hsl(0, 0%, 10%));
    }

    ._38RZ6 {
        height: 32px;
        padding-top: 14px;
    }

    ._1CDxH {
        margin-left: auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .TTfHg {
        width: 20px;
        height: 20px;
        padding: 0;
        display: inline-block;
        fill: hsl(0, 0%, 100%);
        opacity: 0.8;
        margin-bottom: 16px;
        pointer-events: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .TTfHg:hover,
    .TTfHg:focus {
        opacity: 1;
    }

    ._2SumI {
        width: 20px;
        height: 20px;
        padding: 0;
        display: inline-block;
        fill: hsl(0, 0%, 100%);
        opacity: 0.8;
        margin-bottom: 16px;
        pointer-events: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    ._2SumI:hover,
    ._2SumI:focus {
        opacity: 1;
    }

    ._1xwpN:after {
        content: '';
        width: 1px;
        height: 24px;
        display: inline-block;
        background-color: hsl(0, 0%, 90%);
        opacity: 0.4;
        position: absolute;
        top: 12px;
    }

    ._1SQpT {
        width: 100%;
        display: block;
        opacity: 0;
        transition: opacity 0.4s ease;
        position: relative;
        margin-top: -140px;
        height: 140px;
        padding: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 57%);
    }

    .KFSGT {
        width: 100%;
        height: 100%;
        display: block;
    }

    ._3cDcj {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    .HogM0 {
        display: none;
    }

    @media (min-width: 640px) {
        ._2imXI ._1SQpT {
            display: none;
        }

        ._2imXI .HogM0 {
            margin-top: 16px;
            display: block;
        }
    }

    ._9q1LS {
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    ._3dJU8 {
        height: 32px;
    }

    ._7H2LP {
        padding-top: 8px;
        text-align: center;
    }

    .VRlLl {
        padding: 16px 0 0 0;
        bottom: 16px;
        right: 16px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;

    }

    ._2sT86 {
        width: 100%;
        height: 40%;
        display: -ms-flexbox;
        display: flex;
    }

    ._3Oe1A {
        padding: 0;
        font-size: 12px;
        color: rgb(153, 153, 153);
        border-radius: 4px;
        box-shadow: hsl(0, 0%, 80%) 0 0 16px;
        overflow: hidden;
        background-color: hsl(0, 0%, 100%);
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }

    ._25Upe {
        position: relative;
    }

    @media (min-width: 640px) {
        .EurVi ._3Oe1A {
            margin: 24px 16px 0;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .EurVi ._25Upe {
            width: 39%;
            padding: 16px;
        }

        .EurVi .hypZf {
            width: calc(50% - 187px - 39% - 16px);
            max-width: calc(100% - 187px - 39% - 16px);
            padding: 16px 16px 16px 0;
        }

        .EurVi ._38ivw {
            width: 187px;
            margin: 16px 0;
            padding: 0 0 0 16px;
            display: -ms-flexbox;
            display: flex;
            border-left: 1px solid hsl(0, 0%, 90%);
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }

    @media (min-width: 960px) {
        .EurVi ._25Upe {
            width: 39%;
        }

        .EurVi .hypZf {
            width: calc(100% - 22% - 39% - 16px);
        }

        .EurVi ._38ivw {
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding-right: 16px;
        }
    }

    @media (max-width: 50px) {
        ._2sT86 {
            padding: 16px;
        }

        ._3Oe1A {
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .hypZf {
            padding: 16px;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        ._38ivw {
            display: none;
        }
    }

    ._3bM8k {
        font-family: Calibri;
        color: hsl(0, 0%, 40%);
    }

    .Ck5w- {
        margin-bottom: 9px;
        list-style-type: none;
        font-size: 20px;
        font-weight: 400;
        padding-left: 16px;
        position: relative;
    }

    .Ck5w-:before {
        position: absolute;
        color: hsl(0, 0%, 60%);
        left: 0;
    }

    ._1cn3x {
        -ms-flex: 1 0 320px;
        flex: 1 0 320px;
        min-width: 0;
    }

    ._2tY3C {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
    }

    ._2tY3C.yOn4a {
        display: block;
        margin: 0 auto;
        max-width: 1104px;
    }

    *,
    :after,
    :before {
        box-sizing: inherit;
    }

    article,
    section {
        display: block;
    }

    a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:active,
    a:hover,
    a:focus {
        outline-width: 0;
    }

    img {
        border-style: none;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    h3 {
        margin: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}