.seat-selection {
    border-radius: 16px;
    background-color: #f3f3f3;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 20%;
}
.seat0{
    grid-column: 1;
    grid-row: 1/2;
}
.seat1{
    grid-column: 1;
    grid-row: 2/3;
}
.seat2{
    grid-column: 1;
    grid-row: 3/4;
}
.seat3{
    grid-column: 1;
    grid-row: 4/4;
}
.seat {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    margin-top: 25px;
    grid-column: 1 / 4;
}

.seat.selected {
    /* background-color: rgb(39, 174, 96); */
    /* color: white; */
}
